<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>hostelmanagementsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationservlet</display-name>
    <servlet-name>registrationservlet</servlet-name>
    <servlet-class>RegistrationServletpkg.registrationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationservlet</servlet-name>
    <url-pattern>/registrationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostelManagementServlet</display-name>
    <servlet-name>HostelManagementServlet</servlet-name>
    <servlet-class>hostelmanagementservletpkg.HostelManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostelManagementServlet</servlet-name>
    <url-pattern>/HostelManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cscorner.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>